.Services {
  margin-left: 10%;
}
.Services h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 4px 3px #ffcfca;
  text-align: center;
  color:#367c7c;
}
.Services p {
  color: darkgray;
  text-align: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  height: auto;
}
.grid-item{
  padding: 20px;
  padding-bottom: 40px;
  font-size: 15px;
  text-align: center;
}
.grid-item img {
  vertical-align: middle;
  padding-right: 10px;
}
.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  border-bottom: 3px solid #f9f9f9;
}
.grid-item:nth-child(1),
.grid-item:nth-child(2),
.grid-item:nth-child(4),
.grid-item:nth-child(5) {
  border-right: 3px solid #f9f9f9;
}
@media only screen and (max-width: 2560px) {
  .Services{
    margin-left: 10%;
    width: 90%;
  }
  .Services p {
    font-size: 200%;
  }
  .Services h1 {
    font-size: 400%;
  }
  .grid-item{
    font-size: 25px;
  }
  .grid-item img {
    width: 60px;
  }
}
@media only screen and (max-width: 1440px) {
  .Services{
    margin-left: 10%;
    width: 90%;
  }
  .Services p {
    font-size: 100%;
  }
  .Services h1 {
    font-size: 220%;
  }
  .grid-item{
    font-size: 15px;
  }
  .grid-item img {
    width: 30px;
  }
}
@media only screen and (max-width: 1024px) {
  .Services{
    margin-left: 10%;
    width: 90%;
  }
  .Services p {
    font-size: 90%;
  }
  .Services h1 {
    font-size: 200%;
  }
  .grid-item{
    font-size: 12px;
  }
  .grid-item img {
    width: 25px;
  }
}
@media only screen and (max-width: 425px) {
  .Services{
    margin-left: 0;
    width: 120%;
  }
}
@media only screen and (max-width: 375px) {
  .Services{
    margin-left: 0;
    width: 120%;
  }
}
@media only screen and (max-width: 320px) {
  .Services{
    margin-left: 0;
    width: 120%;
  }
}