.sideNav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  padding-top: 20px;
}
.sideNav img{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-bottom: 0px;
}
.sideNav a{
  display: flex;
  color: #818181;
  width: 50%;
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 0;
  margin-left: 40%;
  font-size: 90%;
  padding-bottom: 25px;
  text-decoration: none;
}
.sideNav p{
  color: #818181;
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  padding-bottom: 40px;
  font-size: 90%;
}
.sideNav a:hover, a:focus {
  cursor: pointer;
  border-bottom: 1px solid 	#C0C0C0;
  -webkit-transition:border-bottom .5s;
  -moz-transition:border-bottom .5s;
  -ms-transition:border-bottom .5s;
  -o-transition:border-bottom .5s;
  transition:border-bottom .5s;
}
.menuToggler{
  display: none
}
.close-button{
  display: none;
}
@media only screen and (max-width: 2560px) {
  .sideNav{
    display: block;
    width: 10%;
  }
  .sideNav a{
    font-size: 200%;
    padding-bottom: 35px;
    padding-top: 35px;
  }
  .menuToggler{
    display: none;
  }
  .sideNav .close-button{
    display: none;
  }
  
}
@media only screen and (max-width: 1440px) {
  .sideNav{
    display: block;
    width: 10%;
  }
  .sideNav a{
    font-size: 90%;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .menuToggler{
    display: none;
  }
  .sideNav .close-button{
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .sideNav{
    display: block;
    width: 10%;
  }
  .sideNav a{
    font-size: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .menuToggler{
    display: none;
  }
  .sideNav .close-button{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .sideNav{
    display: none;
  }
  .menuToggler{
    position: fixed;
    cursor: pointer;
    display: block;
    max-width: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .sideNav .avatar-icon{
    display: none;
  }
  .sideNav p{
    display: none;
  }
  .sideNav .close-button{
    cursor: pointer;
    display: block;
    max-width: 20px;
    margin-right: 10px;
    padding-bottom: 35px;
  }
}